<% @page_title = "この実験について" %>

<h2>この実験について</h2>
<h3>はじめに</h3>
<p>東京都市大学経営システム工学科4年の海保です。</p>
<p>この度は、実験にご参加頂きまして誠にありがとうございます。</p>
<p>本ページでは、実験内容及び実験で皆様に使用頂く本サイトについての説明を致します。</p>
<p>わからないこと等がありましたら、まずはこちらのページをご確認ください。</p>
<br>
<h3>実験について</h3>
<ul type="disc">
	<li>実験概要</li>
	<p>実験内容について説明</p>
	<li>実験手順</li>
	<p>実験手順について説明</p>
	<li>実験期間</li>
	<p>実験期間について説明</p>
	<li>注意事項</li>
	<p>注意事項について説明</p>
</ul>
<br>
<h3>実験サイトについて</h3>
<ul type="disc">
	<li>サイトマップ</li>
	<p>サイトマップについて記述</p>
	<li>使い方</li>
	<p>使い方について記述</p>
	<li>注意事項</li>
	<p>サイト使用においての注意事項について記述</p>
</ul>
<br>
<h3>連絡先</h3>
<p>東京都市大学 知識工学部 経営システム工学科</p>
<p>海保 研二</p>
<p>email : kaiho.okalab2017(あっとまーく)gmail.com</p>