<% @page_title = "この実験について" %>
<% if mobileuser == 1 %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
<% end %>

<h2>この実験について</h2>
<h3>はじめに</h3>
<p>東京都市大学経営システム工学科4年の海保です。</p>
<p>この度は、実験にご参加頂きまして誠にありがとうございます。</p>
<p>本ページでは、実験内容及び実験で皆様に使用頂く本サイトについての説明を致します。</p>
<p>わからないこと等がありましたら、まずはこちらのページをご確認ください。</p>
<br>
<h3>実験について</h3>
<ul type="disc">
	<li>実験概要</li>
	<p>・本実験では、指定した5日間の実験期間中、こちらのサイトを用いて指定のタスクを行って頂きます。</p>
  <p>　タスクの種類は3種類あり、実験期間中はそのうち1種類のみを行って頂きます。</p>
  <p>・また、タスク結果の確認として、実験期間によって異なるフィードバックをご用意しております。</p>
  <p>　フィードバックなし・ランキング・実績の3種類あり、実験期間中はそのうち1種類のみを閲覧できます。</p>
  <p>・計3回の実験でタスク及びフィードバックを3種類、順番に行って頂き、実験終了となります。</p>
	<li>実験手順</li>
	<p>・実験期間中になりますと、サイトの上部に表記したリンクより各ページにアクセスできるようになります。</p>
  <p>・実験期間中は、タスクを何回でも行う事が出来ます。タイミングもお好きな時に行う事が出来ます。</p>
  <p>　お手すきの時など、気が向いたタイミングでタスクを行ってください。</p>
  <p>・実験期間が過ぎますと、タスク及びフィードバックのページにアクセスできなくなります。</p>
	<li>実験期間</li>
	<p>第1回 タスク期間：〇〇～〇〇</p>
	<p>第2回 タスク期間：〇〇～〇〇</p>
	<p>第3回 タスク期間：〇〇～〇〇</p>
	<li>注意事項</li>
	<p>・なんらかの事情により実験を中断したくなった場合には、本ページ下記のアドレスにて</p>
  <p>　海保までご連絡ください。こちらで対応致します。</p>
  <p>何かあったら追記</p>
</ul>
<br>
<h3>実験サイトについて</h3>
<ul type="disc">
	<li>サイトマップ</li>
  <%= image_tag 'layer.png', :alt => 'サイト階層図' , :size => '500x300' %>
  <p>・本サイトは上記のサイト階層図に則って設計されています。</p>
  <p>・ページ間はページ上部に表記したヘッダーでつながっています。</p>
	<li>使い方</li>
  <p>・本サイトはパソコンでの使用を想定していますが、スマートフォンでもアクセスできます。</p>
  <p>　ただし、スマートフォン用のスタイリングをしていない為、一部表記が乱れますがご了承ください。</p>
  <p>・実験期間中、タスク及びフィードバックのページにアクセスして頂くと、</p>
  <p>　実験条件に応じて該当のページに移動出来るようになります。ご自身で課題を選択する事は出来ません。</p>
  <p>・各タスクの説明については、タスクのページに記載しておりますのでそちらをご確認ください。</p>
	<li>注意事項</li>
  <p>・基本的にページの移動にはヘッダーのリンクを利用し、</p>
  <p>　<b>ブラウザの戻る・進む機能を用いてのページ移動</b> は控えるようお願い致します。</p>
  <p>・タスクページにてタスク完了後には、必ず <b>リンクをクリックして</b> ページ移動を行ってください。</p>
  <p>　タスク完了後に戻るボタンを押す、ほかのサイトへ移動するなどした場合、データが正常に保存されません。</p>
  <p>・ログイン（ログアウト）後に、戻るボタン等でログアウト（ログイン）状態のページに移動した場合、</p>
  <p>　正常に画面が表示されない場合があります。もし行ってしまった際には、ページを更新してください。</p>
  <p>・<b>複数端末で同時に1つのアカウントでログインをする操作</b> は行わないでください。</p>
  <p>　複数端末をお使いになる場合は、一度ログアウトをしてからの操作をお願い致します。</p>

</ul>
<br>
<h3>連絡先</h3>
<p>東京都市大学 知識工学部 経営システム工学科</p>
<p>海保 研二</p>
<p>email : kaiho.okalab2017(あっとまーく)gmail.com</p>