<h1>トップ画面</h1>
<% if mobileuser == 1 %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
<% end %>
<% require "date"
   nowday = Date.today %>
<h2><%= "本日は「#{nowday}」です。" %></h2>

<br>
<% unless current_member %>
    <% else %>
<%= link_to "この実験について", '/top/about' %>
<% end %>