<% @page_title = "ランキング" %>
<% if mobileuser == 1 %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
<% end %>
<h2>ATMTタスク ランキング</h2>
<table border="2" rules="groups">
  <colgroup span="1"></colgroup>
  <colgroup span="1"></colgroup>
  <colgroup span="1"></colgroup>
  <thead>
  <tr>
    <th>順位</th>
    <th>ニックネーム</th>
    <th>スコア</th>
    <th>最高タスク点</th>
  </tr>
  </thead>
  <tbody>
  <% grade = 0 %>
  <% topscore = 10000000 %>
  <% count = 1 %>
  <% @rank_atmt.each do |rank| %>
      <% member = Member.find_by(id: rank.id) %>
      <% if topscore > rank.atmt %>
          <% grade += count %>
          <% topscore = rank.atmt %>
          <% count = 1 %>
      <% else %>
          <% count += 1 %>
      <% end %>
      <% if grade == 1 %>
          <tr bgcolor="#ffd700">
      <% elsif grade <= 3 %>
          <tr bgcolor="#C0C0C0">
      <% elsif grade <= 5 %>
          <tr bgcolor="#C47222">
      <% else %>
          <% if rank.id == @current_member.id %>
              <tr bgcolor="#b0e0e6">
          <% else %>
              <tr>
          <% end %>
      <% end %>
      <td align="center"><%= grade %></td>
      <td align="center"><%= member.name %></td>
      <td align="center"><%= rank.atmt %></td>
      <% @highscore_atmt = Atmtresult.where(member_id: rank.id).maximum('atmtTaskResult') %>
      <td align="center"><%= @highscore_atmt %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
<br>
<h3>ランキング説明</h3>
ランキング のフィードバックでは、実際に同じタイミングで実験を行っている方と<br>
競い合えるランキングを表示します。
このランキングは、タスクを行った結果（タスク点）の累計をスコアとして算出し、<br>
スコアの高さを競う形式となっています。また、順位に応じて<br>
<p>1位＝<span style = "background-color:#ffd700">ゴールドランク</span></p>
<p>2,3位＝<span style = "background-color:#C0C0C0">シルバーランク</span></p>
<p>4,5位＝<span style = "background-color:#C47222">ブロンズランク</span></p>
<p>と、ランク分けをしています。</p>
<p>またランク外の場合は自分の記録を <span style = "background-color:#b0e0e6">水色</span> で表記します。</p>