<% @page_title = "ランキング" %>

<h2>クリックタスク ランキング</h2>
<table border="2" rules="groups">
  <colgroup span="1"></colgroup>
  <colgroup span="1"></colgroup>
  <thead>
  <tr>
    <th>順位</th>
    <th>ニックネーム</th>
    <th>スコア</th>
    <th>最高点</th>
  </tr>
  </thead>
  <tbody>
  <% grade = 0 %>
  <% topscore = 10000000 %>
  <% count = 1 %>
  <% @rank_click.each do |rank| %>
      <% member = Member.find_by(id: rank.member_id) %>
      <% if topscore > rank.click %>
          <% grade += count %>
          <% topscore = rank.click %>
          <% count = 1 %>
      <% else %>
          <% count += 1 %>
      <% end %>
      <% if grade == 1 %>
          <tr bgcolor="#ffd700">
      <% elsif grade <= 3 %>
          <tr bgcolor="#C0C0C0">
      <% elsif grade <= 5 %>
          <tr bgcolor="#47222">
      <% else %>
          <% if rank.member_id == @current_member.id %>
              <tr bgcolor="#b0e0e6">
          <% else %>
              <tr>
          <% end %>
      <% end %>
      <td align="center"><%= grade %></td>
      <td align="center"><%= member.name %></td>
      <td align="center"><%= rank.click %></td>
      <% @highscore_click = Clickresult.where(member_id: rank.member_id).maximum('clickTaskResult') %>
      <td align="center"><%= @highscore_click %></td>
      </tr>
  <% end %>
  </tbody>
</table>