<% @page_title = "ランキング" %>



<ul>
  <li>  <%= menu_link_to "ATMTタスク", '/rankings/atmt' %> </li>
  <li>  <%= menu_link_to "暗算タスク", '/rankings/math' %></li>
  <li>  <%= menu_link_to "クリックタスク", '/rankings/click' %></li>
</ul>