<% @page_title = "ランキング" %>

<h2><%= @page_title %></h2>

<ul>
  <li>  <%= menu_link_to "探索タスク", '/rankings/atmt' %> </li>
  <li>  <%= menu_link_to "計算タスク", '/rankings/math' %></li>
  <li>  <%= menu_link_to "追跡タスク", '/rankings/click' %></li>
</ul>