<% @page_title = "ランキング" %>
<% if mobileuser == 1 %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
<% end %>
<h2>暗算タスク ランキング</h2>
<table border="2" rules="groups">
  <colgroup span="1"></colgroup>
  <colgroup span="1"></colgroup>
  <thead>
  <tr>
    <th>順位</th>
    <th>ニックネーム</th>
    <th>スコア</th>
    <th>最高点</th>
  </tr>
  </thead>
  <tbody>
  <% grade = 0 %>
  <% topscore = 10000000 %>
  <% count = 1 %>
  <% @rank_math.each do |rank| %>
      <% member = Member.find_by(id: rank.member_id) %>
      <% if topscore > rank.math %>
          <% grade += count %>
          <% topscore = rank.math %>
          <% count = 1 %>
      <% else %>
          <% count += 1 %>
      <% end %>
      <% if grade == 1 %>
          <tr bgcolor="#ffd700">
      <% elsif grade <= 3 %>
          <tr bgcolor="#C0C0C0">
      <% elsif grade <= 5 %>
          <tr bgcolor="#47222">
      <% else %>
          <% if rank.member_id == @current_member.id %>
              <tr bgcolor="#b0e0e6">
          <% else %>
              <tr>
          <% end %>
      <% end %>
        <td align="center"><%= grade %></td>
        <td align="center"><%= member.name %></td>
        <td align="center"><%= rank.math %></td>
        <% @highscore_math = Mathresult.where(member_id: rank.member_id).maximum('mathTaskResult') %>
        <td align="center"><%= @highscore_math %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
<br>
<h3>ランキング説明</h3>
本実験では、タスクを行った結果（タスク点）の累計をスコアとして算出し、<br>
スコアの高さを競う形式となっています。また、順位に応じて<br>
<p>1位＝<span style = "background-color:#ffd700">ゴールドランク</span></p>
<p>2,3位＝<span style = "background-color:#C0C0C0">シルバーランク</span></p>
<p>4,5位＝<span style = "background-color:#C47222">ブロンズランク</span></p>
<p>と、ランク分けをしています。</p>