<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<title>チェックボックスたたき</title>
<script>
$(function() {
  $('#start').click(function() {
    $('#start').hide();
    $('.menubar').hide();
    
    {
    var NUM = 3;                    // チェックボックス数
    var SIZE = 400;                 // ステージの大きさ
    var speed = 3000;
    var count = 0;                  // 現在チェックされている数
    var st = new Date().getTime();  // 開始時間
    } // 変数宣言

    var postForm = function(url, data) {
      var $form = $('<form/>', {'action': url, 'method': 'post'});
      for(var key in data) {
        $form.append($('<input/>', {'type': 'hidden', 'name': key, 'value': data[key]}));
      }
      $form.appendTo(document.body);
      $form.submit();
    };
    
    function newPos() {
      return {
        left: Math.floor(Math.random() * SIZE),
        top: Math.floor(Math.random() * SIZE) + 60
      };
    }  // チェックボックスの新しい位置を返す。
    
    for (var i = 0; i < NUM; i++) {
      $('<input type="button">').addClass("box")
      .css({'width': '20px','height': '20px'})
      .appendTo('body')
      .css('position', 'absolute')
      .css(newPos())
      .each(function() {
        $(this).animate(newPos(), speed, arguments.callee);
      });
    }  // チェックボックスの生成・アニメーションの設定
    
    $('body').on('click','.box',function() {
      $(this).remove();
      count++;
      $('<input type="button">').addClass("box")
        .css({'width': '20px','height': '20px'})
        .appendTo('body')
        .css('position', 'absolute')
        .css(newPos())
        .each(function() {
        $(this).animate(newPos(), speed, arguments.callee);
      });
    });// チェックボックスが押されたときの処理

    setTimeout(function() {
      $('.box').hide();
      alert(count + "個クリックできました！");
      var data = {'clickscore' : count };
      postForm('/clickresults/create',data);
    },60000);
    return false;
  });
});
</script>
</head>
<body>
  <h2>クリック タスク</h2>
  <p><a id="start" href="javascript:void(0)">スタート</a></p>
<% @page_title = "クリックタスク" %>
</body>
</html>