<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
	<meta name="Author" content=""/>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<% @page_title = "クリックタスク" %>
  <h2>クリックタスク</h2>
  <p><%= menu_link_to "タスクを始める", '/clickresults/game' %></p>


</body>
</html>