<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
	<meta name="Author" content=""/>
  <% if mobileuser == 1 %>
      <meta name="viewport" content="width=device-width,initial-scale=1">
  <% end %>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<% @page_title = "クリックタスク" %>
  <h2>クリックタスク</h2>
  <p><%= menu_link_to "タスクを始める", '/clickresults/game' %></p>

<br>
<h3>タスク説明</h3>
<p>このタスクは、画面上をランダムに移動するボックスを追従し、</p>
<p>正確にクリック若しくはタップをする課題になります。</p><br>
<%= image_tag 'click.png', :alt => 'atmt sample' , :size => '300x300' %>
<br>
<p>上記のように、(静止画ではわかりにくいですが)ボックスが3つ表示され、動き回ります。</p>
<p>どれか1つをクリックすると、別のランダムな位置に移動してまた動き始めます。</p>
<p>どのボックスでも記録に影響はないので、時間内に出来るだけ多くクリックしてください。</p>
<p>制限時間「60秒」の間にクリック出来た回数がタスク点として記録されます。</p>



</body>
</html>