<% @page_title = "フィードバック" %>
<% if mobileuser == 1 %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
<% end %>
<p>フィードバック表示条件を満たしていません。</p>
<p>実験期間になるまでお待ちください。</p>
<br>
<p>なお、実験期間中にこの画面が表示された場合は、管理者までご連絡ください。</p>
