<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
	<meta name="Author" content=""/>
  <% if mobileuser == 1 %>
      <meta name="viewport" content="width=device-width,initial-scale=1">
  <% end %>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<% @page_title = "計算タスク" %>
  <h2>計算タスク</h2>
  <p><%= menu_link_to "タスクを始める", '/mathresults/game' %></p>

<br>
<h3>タスク説明</h3>
<p>このタスクは、画面上に表示される加算問題を解き、</p>
<p>解答欄に入力して回答する計算課題となります。</p><br>
<%= image_tag 'math.png', :alt => 'atmt sample' , :size => '300x200' %>
<br>
<p>上記のように、問題・解答欄・解答ボタンが表示されます。</p>
<p>解答は正誤に関わらず記録され、その度に問題が切り替わります。</p>
<p>パソコンを使用されている方は、Enterキーでも解答を送信出来ます。</p>
<p>制限時間「60秒」の間に正答した問題数がタスク点として記録されます。</p>


</body>
</html>