<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
	<meta name="Author" content=""/>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  <h2>計算課題</h2>
  <p><%= menu_link_to "タスクを始める", '/mathresults/game' %></p>


</body>
</html>