<% @page_title = "実績" %>

<h2>実績</h2>

<ul>
  <li>  <%= menu_link_to "ATMTタスク", '/achievements/atmt' %> </li>
  <li>  <%= menu_link_to "暗算タスク", '/achievements/math' %></li>
  <li>  <%= menu_link_to "クリックタスク", '/achievements/click' %></li>
</ul>